Redirect 301 /projects/alfredgist /projects/#alfred-workflows
Redirect 301 /projects/alfred-gist /projects/#alfred-workflows
Redirect 301 /projects/alfred-pow-workflow /projects/#alfred-workflows
Redirect 301 /projects/alfred-image-montage /projects/#alfred-workflows

#
Redirect 301 /articles/2010/11/08/fun-with-rails-git-log-and-gltail /articles/fun-with-rails-git-log-and-gltail
Redirect 301 /articles/2010/09/22/use-applescript-to-automatically-close-safaris-downloads-window /articles/use-applescript-to-automatically-close-safaris-downloads-window
Redirect 301 /articles/2010/04/09/speeding-up-thumbnail-generation-with-paperclip /articles/speeding-up-thumbnail-generation-with-paperclip
Redirect 301 /articles/2010/04/09/rails-paperclip--auto-orient-and-resizing- /articles/rails-paperclip-auto-orient-and-resizing
Redirect 301 /articles/2010/03/18/hanger9-fs-one-running-in-parallels-5-on-mac-os-x /articles/hanger9-fs-one-running-in-parallels-5-on-mac-os-x
Redirect 301 /articles/2010/01/14/another-reason-people-prefer-macs-to-pcs /articles/another-reason-people-prefer-macs-to-pcs
Redirect 301 /articles/2009/11/13/ruby-in-a-nutshell /articles/ruby-in-a-nutshell
Redirect 301 /articles/2009/06/29/sphinx-search-0-9-8-1-debian-packages /articles/sphinx-search-0-9-8-1-debian-packages
Redirect 301 /articles/2009/03/31/facebook-connect-safari-click-to-flash-no-work /articles/facebook-connect-safari-click-to-flash-no-work
Redirect 301 /articles/2009/03/13/hanger9-fs-one-review /articles/hanger9-fs-one-review
Redirect 301 /articles/2009/02/03/radiantcms-extension-for-syntax-highlighting-via-coderay /articles/radiantcms-extension-for-syntax-highlighting-via-coderay
Redirect 301 /articles/2009/02/02/creating-an-audit-log-in-rails /articles/creating-an-audit-log-in-rails
Redirect 301 /articles/2009/02/02/manually-invoking-a-rails-sweeper /articles/manually-invoking-a-rails-sweeper
Redirect 301 /articles/2009/01/20/new-toy-mini-super-cub-rc-airplane /articles/new-toy-mini-super-cub-rc-airplane
Redirect 301 /articles/2009/01/06/rails-exceptions-hoptoad-and-annoying-user-agents /articles/rails-exceptions-hoptoad-and-annoying-user-agents
Redirect 301 /articles/2008/07/10/quickly-mirroring-your-ruby-gem-installation /articles/quickly-mirroring-your-ruby-gem-installation
Redirect 301 /articles/2008/07/09/osx-iterm-screen-vim-256-colors /articles/osx-iterm-screen-vim-256-colors
Redirect 301 /articles/2008/02/21/rails---hash_for_named_url-goodness /articles/rails-hash_for_named_url-goodness
Redirect 301 /articles/2008/01/23/verizon-lg-vx5400-osx-addressbook-bluetooth /articles/verizon-lg-vx5400-osx-addressbook-bluetooth
Redirect 301 /articles/2007/12/12/using-url_for-and-expire_page-in-console-and-runner /articles/using-url_for-and-expire_page-in-console-and-runner
Redirect 301 /articles/2007/10/29/openads---clientid-vs-campaignid /articles/openads-clientid-vs-campaignid
Redirect 301 /articles/2007/10/23/litespeed-rails-and-rewriting-urls /articles/litespeed-rails-and-rewriting-urls
Redirect 301 /articles/2007/10/08/alternating-row-colors-in-apple-mail /articles/alternating-row-colors-in-apple-mail
Redirect 301 /articles/2007/08/31/patches-to-roundcube-webmail /articles/patches-to-roundcube-webmail
Redirect 301 /articles/2007/08/12/how-to-extract-a-thumbnail-from-an-flv-file /articles/how-to-extract-a-thumbnail-from-an-flv-file
Redirect 301 /articles/2007/06/25/ubuntu-server-6-0-6-lts-and-parallels-hanging---fix /articles/ubuntu-server-6-0-6-lts-and-parallels-hanging-fix
Redirect 301 /articles/2007/06/13/ruby---native-mysql-gem-vs-pure-ruby-version /articles/ruby-native-mysql-gem-vs-pure-ruby-version
Redirect 301 /articles/2007/04/26/bulk-deactivation-of-banners-in-openads-2-0 /articles/bulk-deactivation-of-banners-in-openads-2-0
Redirect 301 /articles/2007/04/04/swords-for-the-boys /articles/swords-for-the-boys
Redirect 301 /articles/2007/03/27/litespeed-osx-and-disk-scratching /articles/litespeed-osx-and-disk-scratching
Redirect 301 /articles/2007/03/15/nginx-and-cronolog /articles/nginx-and-cronolog
Redirect 301 /articles/2007/01/26/backups-with-rsync /articles/backups-with-rsync
Redirect 301 /articles/2007/01/15/building-rails-and-its-friends-on-osx /articles/building-rails-and-its-friends-on-osx
Redirect 301 /articles/2006/12/21/integrating-openads-with-rails /articles/integrating-openads-with-rails
Redirect 301 /articles/2006/12/20/mongrel-rails-dashboard-widget /articles/mongrel-rails-dashboard-widget
Redirect 301 /articles/fun-with-rails-git-log-and-gltail.html /articles/fun-with-rails-git-log-and-gltail
Redirect 301 /articles/use-applescript-to-automatically-close-safaris-downloads-window.html /articles/use-applescript-to-automatically-close-safaris-downloads-window
Redirect 301 /articles/speeding-up-thumbnail-generation-with-paperclip.html /articles/speeding-up-thumbnail-generation-with-paperclip
Redirect 301 /articles/rails-paperclip--auto-orient-and-resizing-.html /articles/rails-paperclip-auto-orient-and-resizing
Redirect 301 /articles/hanger9-fs-one-running-in-parallels-5-on-mac-os-x.html /articles/hanger9-fs-one-running-in-parallels-5-on-mac-os-x
Redirect 301 /articles/another-reason-people-prefer-macs-to-pcs.html /articles/another-reason-people-prefer-macs-to-pcs
Redirect 301 /articles/ruby-in-a-nutshell.html /articles/ruby-in-a-nutshell
Redirect 301 /articles/sphinx-search-0-9-8-1-debian-packages.html /articles/sphinx-search-0-9-8-1-debian-packages
Redirect 301 /articles/facebook-connect-safari-click-to-flash-no-work.html /articles/facebook-connect-safari-click-to-flash-no-work
Redirect 301 /articles/hanger9-fs-one-review.html /articles/hanger9-fs-one-review
Redirect 301 /articles/radiantcms-extension-for-syntax-highlighting-via-coderay.html /articles/radiantcms-extension-for-syntax-highlighting-via-coderay
Redirect 301 /articles/creating-an-audit-log-in-rails.html /articles/creating-an-audit-log-in-rails
Redirect 301 /articles/manually-invoking-a-rails-sweeper.html /articles/manually-invoking-a-rails-sweeper
Redirect 301 /articles/new-toy-mini-super-cub-rc-airplane.html /articles/new-toy-mini-super-cub-rc-airplane
Redirect 301 /articles/rails-exceptions-hoptoad-and-annoying-user-agents.html /articles/rails-exceptions-hoptoad-and-annoying-user-agents
Redirect 301 /articles/quickly-mirroring-your-ruby-gem-installation.html /articles/quickly-mirroring-your-ruby-gem-installation
Redirect 301 /articles/osx-iterm-screen-vim-256-colors.html /articles/osx-iterm-screen-vim-256-colors
Redirect 301 /articles/rails---hash_for_named_url-goodness.html /articles/rails-hash_for_named_url-goodness
Redirect 301 /articles/verizon-lg-vx5400-osx-addressbook-bluetooth.html /articles/verizon-lg-vx5400-osx-addressbook-bluetooth
Redirect 301 /articles/using-url_for-and-expire_page-in-console-and-runner.html /articles/using-url_for-and-expire_page-in-console-and-runner
Redirect 301 /articles/openads---clientid-vs-campaignid.html /articles/openads-clientid-vs-campaignid
Redirect 301 /articles/litespeed-rails-and-rewriting-urls.html /articles/litespeed-rails-and-rewriting-urls
Redirect 301 /articles/alternating-row-colors-in-apple-mail.html /articles/alternating-row-colors-in-apple-mail
Redirect 301 /articles/patches-to-roundcube-webmail.html /articles/patches-to-roundcube-webmail
Redirect 301 /articles/how-to-extract-a-thumbnail-from-an-flv-file.html /articles/how-to-extract-a-thumbnail-from-an-flv-file
Redirect 301 /articles/ubuntu-server-6-0-6-lts-and-parallels-hanging---fix.html /articles/ubuntu-server-6-0-6-lts-and-parallels-hanging-fix
Redirect 301 /articles/ruby---native-mysql-gem-vs-pure-ruby-version.html /articles/ruby-native-mysql-gem-vs-pure-ruby-version
Redirect 301 /articles/bulk-deactivation-of-banners-in-openads-2-0.html /articles/bulk-deactivation-of-banners-in-openads-2-0
Redirect 301 /articles/swords-for-the-boys.html /articles/swords-for-the-boys
Redirect 301 /articles/litespeed-osx-and-disk-scratching.html /articles/litespeed-osx-and-disk-scratching
Redirect 301 /articles/nginx-and-cronolog.html /articles/nginx-and-cronolog
Redirect 301 /articles/backups-with-rsync.html /articles/backups-with-rsync
Redirect 301 /articles/building-rails-and-its-friends-on-osx.html /articles/building-rails-and-its-friends-on-osx
Redirect 301 /articles/integrating-openads-with-rails.html /articles/integrating-openads-with-rails
Redirect 301 /articles/mongrel-rails-dashboard-widget.html /articles/mongrel-rails-dashboard-widget
