body {
  padding-top: 0;
  padding-bottom: 0; }

.navbar {
  display: none; }

#disqus_thread {
  display: none; }

aside {
  display: none; }

footer {
  display: none; }

body.resume {
  font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif; }
  body.resume .container {
    width: 100%; }
  body.resume h1 {
    margin-left: 199px; }
  body.resume .row .span3 {
    display: none; }
  body.resume .row .span9 {
    width: 920px; }
    body.resume .row .span9 .span2 {
      width: 180px; }
    body.resume .row .span9 .span7 {
      width: 700px; }
